* {
  padding: 0;
  margin: 0;
  outline: 0 !important;
  list-style-type: none !important;
  text-decoration: none !important;
  font-size: 14px;
}

ul {
  margin-bottom: 0;
  padding: 0;
}

del {
  text-decoration: line-through !important;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: gray !important;
}

.h-100vh {
  min-height: 100vh;
}

button,
a {
  background-color: transparent;
  border: none;
  outline: none !important;
  transition: all 0.4s;
  &:hover {
    opacity: 0.8 !important;
  }
}

input {
  min-width: 30% !important;
}

@media (max-width: 575.98px) {
  * {
    font-size: 12px !important;
  }
  button {
    font-size: 10px !important;
  }
  .itemClass {
    .itemTitle {
      width: 100% !important;
      text-align: right;
    }
    .todoOptions {
      width: 100%;
      justify-content: left;
    }
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  * {
    font-size: 13px !important;
  }
}
